TOKEN_ADDRESS="TOKEN_ADDRESS"
AIR_DROPPER_ADDRESS="AIR_DROPPER_ADDRESS"
COMMUNITY_CRAFTING_ADDRESS="COMMUNITY_CRAFTING_ADDRESS"
FARM_ADDRESS="FARM_ADDRESS"
IRON_ADDRESS="IRON_ADDRESS"
AXE_ADDRESS="AXE_ADDRESS"
ARMOR_ADDRESS="ARMOR_ADDRESS"
IRON_PICKAXE_ADDRESS="IRON_PICKAXE_ADDRESS"
PICKAXE_ADDRESS="PICKAXE_ADDRESS"
STONE_ADDRESS="STONE_ADDRESS"
STONE_PICKAXE_ADDRESS="STONE_PICKAXE_ADDRESS"
WOOD_ADDRESS="WOOD_ADDRESS"
CHICKEN_COOP_ADDRESS="CHICKEN_COOP_ADDRESS"
GoldenEgg_ADDRESS="GoldenEgg_ADDRESS"
CHICKEN_ADDRESS="CHICKEN_ADDRESS"
CHRISTMAS_TREE_ADDRESS="CHRISTMAS_TREE_ADDRESS"
DOG_ADDRESS="DOG_ADDRESS"
GNOME_ADDRESS="GNOME_ADDRESS"
GOLD_ADDRESS="GOLD_ADDRESS"
STATUE_ADDRESS="STATUE_ADDRESS"
OWNER_ADDRESS="OWNER_ADDRESS"
API_URL="API_URL"
PRIVATE_KEY="PRIVATE_KEY"
API_KEY="API_KEY"